* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--primary);
  background-color: var(--background);
  scroll-behavior: smooth;
}

:root {
  --white: hsl(0, 0%, 100%);
  --primary: #4E3629;
  --background: #F5F5F5;
  --accent: #A67B5B;
  --secondary: #E0D7CE;
  --neutral: #FFFFFF;

  --fs-h1: 4rem;
  --fs-h2: 3rem;
  --fs-h3: 1.5rem;
  --fs-p: 1.2rem;

  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;

  --space-xs: 1rem;
  --space-s: 1.5rem;
  --space-m: 2rem;
  --space-l: 2.5rem;
  --space-xl: 3rem;

}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-700);
}

h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-600);
}

h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-700);
  background-color: transparent;
}

p {
  font-size: var(--fs-p);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Navigation */
nav{
  z-index: 10001;
}

.navbar {
  padding: 20px 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
}

nav ul li {
  display: inline-block;
  padding: 1em;
  background-color: var(--background);
}

nav ul li a {
  color: var(--primary);
  font-size: var(--fs-p);
  font-weight: var(--fw-700);
  background-color: transparent;
}

nav ul li a:hover {
  text-decoration: underline solid var(--primary);
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--primary);
  margin: 4.3px 0;
  transition: all 0.3s ease; /* Smooth transition */
}

.menu-icon {
  display: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--background);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.menu-icon.open .bar1 {
  transform: rotate(45deg) translate(5px, 5px); /* Rotate the first bar */
}

.menu-icon.open .bar2 {
  opacity: 0; /* Hide the middle bar */
}

.menu-icon.open .bar3 {
  transform: rotate(-45deg) translate(5px, -5px); /* Rotate the third bar */
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links.visible {
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0;
  width: 100%;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

/* Header Section */
.header {
  padding: 2rem 4rem;
  text-align: center;
  height: 100%;
}

.header-content {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  margin: 1.5rem;
}

.header-cta {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  margin-bottom: 3rem;
}

button {
  background-color: var(--accent);
  color: var(--neutral);
  padding: 12px 14px;
  border: none;
  text-decoration: none;
  border-radius: 2px;
  font-size: var(--fs-p);
  font-weight: bold;
  cursor: pointer;
}

/* Skillset */
.skills {
  padding: 2rem 4rem;
  height: 100%;
}

.skills-header h2{
  text-align: center;
  font-weight: var(--fw-700);
  padding-bottom: 3rem;
}

.skills-icon h3, div {
  background-color: transparent;
  align-items: center;
}

.skills-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.skills-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 4rem;
  height: 6.5rem;
  width: 43rem;
  background-color: var(--secondary);

  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.skills-image {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  background-color: transparent;
}

.skills-image img {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 768px){
:root {
  --fs-h1: 3rem;
  --fs-h2: 1.8rem;
  --fs-h3: 1.2rem;
  --fs-p: 1rem;
}
  /* Navigation */
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .nav-links.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: var(--background);
    z-index: 1000;
    transition: all 0.5s ease-in-out;
  }

  nav ul {
    width: 100%; /* Ensure ul takes full width inside nav-links */
    padding: 1rem;
  }

  .navbar {
    background: var(--background);
    padding: 10px 4rem;
  }

  nav ul li {
    display: block; /* Make each list item take full width */
    width: 100%;
    text-align: center;
    padding: .5rem 0rem; /* Increase padding for clickable area */
  }

  nav ul li:hover a{
    background: rgba(0, 0, 0, 0.2);
  }

  nav ul li a{
    display: block; /* Ensure anchor takes full width of li */
    width: 100%;
    padding: 1rem;
    color: var(--primary);
    border-radius: 8px;
  }

  .bar{
    background: var(--primary);
  }

  /* Skills */
  .skills-icon {
    padding: 0 2rem;
    width: 33rem;
  }

  .skills-image img {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 540px) {
  :root {
    --fs-h1: 2rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.2rem;
    --fs-p: .8rem;
  }

  /* Skills*/
  .skills-icon {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;

    padding: 0 1rem;
    height: 16rem;
    width: 18rem;
  }

  .skills-image {
    grid-template-columns: repeat(3, 1fr); /* At 500px, display 3 images per row */
  }

  .skills-image img {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 430px) {
  /* Header */
  .header {
    padding: 2rem .5rem;
  }

  .header-cta {
    flex-direction: column;
  }

  /* Skills */
  .skills {
    padding: 2rem .5rem;
  }
}