<!--
<button className="prev" onClick={goToPrevSlide}>
    ❮
</button>
<button className="next" onClick={goToNextSlide}>
    ❯
</button>
-->

<!--
const goToPrevSlide = useCallback(() => {
        setCurrentSlide((prevSlide) =>
            prevSlide === 0 ? totalSlides - 1 : prevSlide - 1
        );
    }, [totalSlides]);
-->

<!--
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--white);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 50%;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
-->

<!--
  {  /*Use only when button doesn't have a link */ }
  { /*
  const handleButtonClick = (project, type) => {
    if (project.underConstruction) {
      alert('This page is currently under construction.');
    } else {
      const url = project[type];
      if (url) {
        window.open(url, '_blank'); // Open link in a new tab
      }
    }
  };
  */}-->